$border-color: #14050A;
$background-color: #423E37;
$light-background-color: #A39594;
$text-color: #EDEBD7;
$highlight-color: #E3B23C;

$border-color: #D3D0CB;
$background-color: #FCF9F2;
$light-background-color: #FFFFFF;
$text-color: #393E41;
$highlight-color: #84A14A;

//---------------material overrides

$font-family: 'Open Sans', sans-serif;