@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "variables";
@import "../bower_components/angular-material/angular-material.scss";
@import "global";

.place-info-table th {
  text-align: left;
  vertical-align: top;
  padding-right: 5px;
}

.place-pic-day {
  height: 200px;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}