<div flex layout="row" ng-controller="dayCtrl" layout-margin>
    <md-sidenav
            flex
            style="min-height: 235px;"
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="true"
            md-whiteframe="4">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Plan a culinary day!</h1>
        </md-toolbar>
        <md-content>
            <md-list style="min-height: 270px">
                <md-list-item ng-click="openLocationDialog($event)">
                    <p>Set Your Location</p>
                    <md-icon class="md-secondary">open_in_new</md-icon>
                </md-list-item>
                <md-list-item >
                    <div flex layout="column">
                        <div>
                            <span>How far are you willing to travel?</span>
                        </div>
                        <div layout="row">
                            <md-slider-container flex>
                                <p>Radius</p>
                                <md-slider flex step="0.01" min="0.5" max="2" ng-model="params.distance">
                                </md-slider>
                            </md-slider-container>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item>
                    <div flex layout="column">
                        <div>
                            <span>How much are you willing to pay?</span>
                        </div>
                        <div layout="row">
                            <md-slider-container flex>
                                <p>Price</p>
                                <md-slider flex md-discrete step="1" min="1" max="4" ng-model="params.price">
                                </md-slider>
                            </md-slider-container>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item>
                    <p>I'm a night person!</p>
                    <md-checkbox class="md-secondary" ng-model="params.night"></md-checkbox>
                </md-list-item>
                <md-list-item>
                    <p>But I still want to eat breakfast</p>
                    <md-checkbox ng-disabled="!params.night" class="md-secondary"
                                 ng-model="params.nightAndBreakfast"></md-checkbox>
                </md-list-item>
            </md-list>
        </md-content>
        <div flex></div>
        <md-divider></md-divider>
        <div layout="row">
            <p flex></p>
            <md-button flex="nogrow" ng-click="findDay()" class="md-primary md-raised">Search</md-button>
        </div>
    </md-sidenav>

    <div layout="column" ng-hide="!day || !day.length" md-whiteframe="4" style="background: white">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Enjoy!</h1>
        </md-toolbar>
        <md-content>
            <md-card ng-repeat="place in day" style="width:500px">
                <md-card-header>
                    <md-card-avatar ng-switch="place._placeType">
                        <md-icon ng-switch-when="morning">free_breakfast</md-icon>
                        <md-icon ng-switch-when="lunch">wb_sunny</md-icon>
                        <md-icon ng-switch-when="dinner">store</md-icon>
                        <md-icon ng-switch-when="night">local_bar</md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title" style="text-transform: capitalize">{{place._placeType}}</span>
                        <!--<span class="md-subhead">{{place.category_name}}</span>-->
                    </md-card-header-text>
                </md-card-header>
                <div class="place-pic-day" style="background-image: url({{place.image}});">
                    <!--<img ng-src="{{place.image}}" class="md-card-image"-->
                    <!--style="min-width: 100%; position:absolute">-->
                </div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{place.name}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Categories: {{place.categoriesArray.join(", ")}}</p>
                    <p>{{place.address}},{{place.city + ", " + (place.state ? place.state + ", ": "") + place.country}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="gotoPlace(place.id)">details</md-button>
                    <md-button class="md-accent" ng-click="openReplaceDialog($event,place._placeType)">Replace
                    </md-button>
                </md-card-actions>
            </md-card>
        </md-content>

    </div>
    <div flex="" ng-show="fetching" layout="column" layout-align="center center" style="min-height:200px;">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>