<div flex layout="row" ng-controller="dayCtrl">
    <md-sidenav
            flex
            style="min-height: 235px;"
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-whiteframe="4">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Plan a culinary day!</h1>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item ng-click="openLocationDialog($event)">
                    <p>Set Your Location</p>
                    <md-icon class="md-secondary">open_in_new</md-icon>
                </md-list-item>
                <md-list-item>
                    <md-slider-container flex>
                        <p>Radius</p>
                        <md-slider flex min="0" max="2000" ng-model="params.distance"></md-slider>
                        <md-input-container>
                            <input flex step="100" type="number" ng-model="params.distance">
                        </md-input-container>
                    </md-slider-container>
                </md-list-item>
                <md-list-item>
                    <md-slider-container flex>
                        <p>Price</p>
                        <md-slider flex min="0" max="4" ng-model="params.price"></md-slider>
                    </md-slider-container>
                </md-list-item>
                <md-list-item>
                    <p>I'm a night person!</p>
                    <md-checkbox class="md-secondary" ng-model="params.night"></md-checkbox>
                </md-list-item>
                <md-list-item >
                    <p>But I still want to eat breakfast</p>
                    <md-checkbox ng-disabled="!params.night" class="md-secondary" ng-model="params.nightAndBreakfast"></md-checkbox>
                </md-list-item>
            </md-list>
        </md-content>
        <div flex></div>
        <md-divider></md-divider>
        <div layout="row">
            <p flex></p>
            <md-button flex="nogrow" ng-click="findDay()" class="md-primary md-raised">Search</md-button>
        </div>
    </md-sidenav>

    <div >
        <md-button ng-click="openReplaceDialog($event,'TODO')">debug open replace dialog</md-button>
            <md-card ng-repeat="place in day" style="width:500px">
                <md-card-header>
                    <md-card-avatar ng-switch="place._placeType">
                        <md-icon ng-switch-when="morning">wb_sunny</md-icon>
                        <md-icon ng-switch-when="lunch">store</md-icon>
                        <md-icon ng-switch-when="dinner">store</md-icon>
                        <md-icon ng-switch-when="night">store</md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Angular</span>
                        <span class="md-subhead">Material</span>
                    </md-card-header-text>
                </md-card-header>
                <div style="max-height: 200px; overflow: hidden">
                    <img ng-src="{{place.image}}" class="md-card-image" style="min-width: 100%;transform: translate(-25%,-25%);">
                </div>

            </md-card>
    </div>
</div>