<md-content layout="row" layout-padding class=" ">
    <div flex class="form-container">
        <form novalidate class="">
            <div class="">
                <label class="control-label">Trip Type:</label>
                <select class="form-control"
                        ng-model="type"
                        name="type"
                        ng-options="type.id as type.name for type in types">
                </select>
            </div>

        <button class="" ng-click="findTrip()">Find!</button>
        </form>
    </div>
    <div flex class="">
        <div ng-if="trip"></div>
        <div ng-if="!trip">

        </div>
    </div>
</md-content>